<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ba8aa8">  <td>16/08/06 22:10:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestsWithAssertions.verifyBooleanValuesAreEqual()[pri:0, instance:session13.TestsWithAssertions@6ea12c19]">verifyBooleanValuesAreEqual</td> 
  <td>main@575593575</td>   <td></td> </tr>
<tr bgcolor="ba8aa8">  <td>16/08/06 22:10:40</td>   <td>23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestsWithAssertions.verifyNumbersAreEqual()[pri:0, instance:session13.TestsWithAssertions@6ea12c19]">verifyNumbersAreEqual</td> 
  <td>main@575593575</td>   <td></td> </tr>
<tr bgcolor="ba8aa8">  <td>16/08/06 22:10:40</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestsWithAssertions.verifyStringsAreEqual()[pri:0, instance:session13.TestsWithAssertions@6ea12c19]">verifyStringsAreEqual</td> 
  <td>main@575593575</td>   <td></td> </tr>
</table>
